<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Kupovina</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}" />
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<br/>

<div class="container">
<br/>
<form th:action="@{/admin/kupovine}" method="get">
    <button class="btn btn-lg btn-primary btn-block" type="Submit">GO BACK</button>
</form>
    <h2>Edit Kupovina</h2>
    <form action="#" th:action="@{/admin/editKupovina}" method="post" th:object="${kupovina}">
        Sifra:<br/>
        <label th:if="${#fields.hasErrors('sifra')}" th:errors="*{sifra}" class="validation-message">Sifra</label>
        <input type="text" class="form-control" id="sifra" th:field="*{sifra}" placeholder="Sifra"/>
        <br/>
        Ukupna Cena:<br/>
        <label th:if="${#fields.hasErrors('ukupnacena')}" th:errors="*{ukupnacena}" class="validation-message">Ukupna Cena</label>
        <input type="number" class="form-control" id="ukupnacena" th:field="*{ukupnacena}" placeholder="Ukupna Cena"/>
        <br/>
        Date Time:<br/>
        <label th:if="${#fields.hasErrors('datetime')}" th:errors="*{datetime}" class="validation-message">DateTime</label>
        <input type="text" class="form-control" id="datetime" th:field="*{datetime}" placeholder="DateTime"/>
        <br/>
        User:<br/>
        <label th:if="${#fields.hasErrors('user')}" th:errors="*{user}" class="validation-message">User</label>
        <input type="number" class="form-control" id="user" th:field="*{user.id}" placeholder="User"/>
      
        <input type="hidden" id="id" th:field="*{id}">
        <br/>
        <button type="submit" class="btn btn-info">Edit</button>
        <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
    </form>
</div>

	<script th:src="@{'/assets/js/jquery-2.1.4.min.js'}"></script>
	<script th:src="@{'/assets/bootstrap/js/bootstrap.min.js'}"></script>

</body>
</html>